<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project S</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="filter: blur(0px);background-color: rgb(255,255,255);">
    <nav class="navbar navbar-light navbar-expand-md shadow-sm navigation-clean-button" style="background: linear-gradient(-68deg, #00337f, #a5dde2);background-color: rgba(178,205,245,0.54);filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(200%) sepia(0%);">
        <div class="container"><a class="navbar-brand" href="index.html">Project S</a><small style="height: 19px;font-size: 15px;width: 456px;">A big data text analysis tool.</small><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="margin: 6px;"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1" style="height: 61px;">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul><span class="navbar-text actions" style="width: 162px;"> <a class="btn btn-light action-button" role="button" href="userOptions.html" style="background-color: rgba(86,124,198,0.77);">{{email}}</a><a class="login" href="login.html" style="color: rgb(255,255,255);">{{Log_In}}</a><a class="btn btn-light action-button" role="button" href="signup.html" style="background-color: rgba(86,124,198,0.77);">Sign Up</a></span></div>
        </div>
    </nav>
    <div class="container">
        <p>&nbsp;</p>
        <div class="alert alert-info" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>If you don't sign up and click 'save', you may lose your work.</strong></span></div><div class="group">      
    <input id= "title" type="text" required value="{{article.title}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Title</label>
</div>


</div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="background-color: #eff7ff;padding: 16px;" >
                    <p><i class="fa fa-file-text"></i>&nbsp;Context:</p>
                    <div id="context_area" style="border: 1px solid #CBCBCB;height: 400px;width: 600px;" contenteditable="true" >
                        {{article.context}}
                    </div>
<!--                    <textarea id="context" class="shadow-sm form-control-lg" style="width: 607px;height: 400px;font-size: 14px;" name="context" placeholder="Please copy and paste your text."> <p>我的母亲有 <span style="color:blue">蓝色</span> 的眼睛。</p>{{article.context}}</textarea>-->
                    <div></div><small class="form-text text-muted">Please copy and paste your text above.</small>
                    <p>&nbsp;</p><button class="btn btn-light" type="button">Upload PDF</button><a class="btn btn-light" type="button" href="userPanel.html">Open Articles</a></div>
                <div class="col-md-4 col-lg-4" style="background-color: #eff7ff;padding: 16px;">
                    <p><i class="fa fa-search"></i>&nbsp;Search the correlation between:</p><div class="group">      
    <input type="text" required id="keyword01">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Keyword 1</label>
</div>



                    <p>and:</p><div class="group">      
    <input type="text" required id="keyword02">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Keyword 2</label>
</div>



                    <div class="btn-toolbar">
                        <div class="btn-group" role="group"></div>
                        <div class="btn-group" role="group">
                            <div class="dropdown btn-group" role="group" style="width: 103px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Category</button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Education</a><a class="dropdown-item" role="presentation" href="#">Health</a>
                                    <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Accounting&nbsp;<br></a><a class="dropdown-item" role="presentation" href="#">Economics&nbsp;<br></a><a class="dropdown-item" role="presentation" href="#">Entrepreneurship<br></a>
                                    <a
                                        class="dropdown-item" role="presentation" href="#">Finance&nbsp;<br></a><a class="dropdown-item" role="presentation" href="#">Hotel and Tourism Management<br></a><a class="dropdown-item" role="presentation" href="#">Other Business</a>
                                        <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Photography and Imaging<br></a><a class="dropdown-item" role="presentation" href="#">Game Design</a><a class="dropdown-item" role="presentation" href="#">Film &amp; TV</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#">Other Arts</a>
                                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Humanities</a><a class="dropdown-item" role="presentation" href="#">Social Science</a>
                                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Other/Unspecified</a></div>
                            </div>
                            <div class="dropdown btn-group" role="group" style="width: 103px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Year</button>
                                <div class="dropdown-menu" role="menu">
                                    <h6 class="dropdown-header" role="presentation">High School</h6><a class="dropdown-item" role="presentation" href="#">9th Grade</a><a class="dropdown-item" role="presentation" href="#">10th&nbsp;Grade<br></a><a class="dropdown-item" role="presentation" href="#">11th Grade</a>
                                    <a
                                        class="dropdown-item" role="presentation" href="#">12th Grade</a>
                                        <div class="dropdown-divider" role="presentation"></div>
                                        <h6 class="dropdown-header" role="presentation">Undergrate</h6><a class="dropdown-item" role="presentation" href="#">Freshmen</a><a class="dropdown-item" role="presentation" href="#">Sophomore</a><a class="dropdown-item" role="presentation" href="#">Junior</a>
                                        <span
                                            class="dropdown-item-text" role="presentation">Senior</span>
                                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Graduate</a><a class="dropdown-item" role="presentation" href="#">Master</a><a class="dropdown-item" role="presentation" href="#">PhD</a></div>
                            </div>
                        </div>
                    </div><small>Selecting category and academic year may drastic improve your peer result accuracy.</small>
                    <p>&nbsp;</p><button class="btn btn-primary" type="button" style="background: linear-gradient(134deg, rgb(0,123,255), #eb3b60);" onclick="Check_keywords()">Check</button><button class="btn btn-link" type="button" onclick="save_context()" >Save</button>
                    <p>&nbsp;</p><small>If you click "Save", you agree that the content you are saving does not infringe copyright of others.</small></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <p>&nbsp;</p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-gear"></i>&nbsp;Process:</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="team-boxed" style="background: linear-gradient(#eef4f7, white);">
        <div class="container" style="background: linear-gradient(#f0f0f0 0%, white);">
            <div class="intro">
                <h2 class="text-center">Result</h2>
                <p class="text-center">Here are the results.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="text-center">In your material, <span style="text-decoration: underline;">keyword1</span>&nbsp;has a <strong>strong </strong>correlation with <span style="text-decoration: underline;">keyword2</span>.</p>
                        <p><span style="text-decoration: underline;">Keyword1</span> appeared <strong>57 time(s)</strong> while <span style="text-decoration: underline;">keyword2</span> appeared <strong>38 time(s)</strong>.</p>
                        <p><strong>4 sentence(s)</strong>&nbsp;showed correlation.<br></p>
                        <div><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Keyword1&quot;,&quot;Keyword2&quot;,&quot;Correlated&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Correlation&quot;,&quot;backgroundColor&quot;:[&quot;rgb(78,160,150)&quot;,&quot;rgba(255,46,46,0.79)&quot;,&quot;rgba(216,48,159,0.79)&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;57&quot;,&quot;38&quot;,&quot;4&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p>There are <strong>12</strong> students writing similar topic as you during this semester.</p>
                        <p><strong>35%</strong> of them use longer paragraphs than yours.</p>
                        <p><strong>15%</strong> of their papers appear to be more connected.</p>
                        <div><canvas data-bs-chart="{&quot;type&quot;:&quot;radar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Similarity&quot;,&quot;Length&quot;,&quot;Consistency&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Ability&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;12&quot;,&quot;65&quot;,&quot;85&quot;],&quot;fill&quot;:true}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p>Students writing this topic is in:</p>
                        <div><canvas data-bs-chart="{&quot;type&quot;:&quot;horizontalBar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;New York University&quot;,&quot;Princeton&quot;,&quot;Emory&quot;,&quot;Tsinghua University&quot;,&quot;Peking University&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;School&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;15000&quot;,&quot;7800&quot;,&quot;6250&quot;,&quot;5300&quot;,&quot;4500&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false,&quot;position&quot;:&quot;top&quot;},&quot;title&quot;:{&quot;display&quot;:false},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;ticks&quot;:{&quot;beginAtZero&quot;:false}}],&quot;yAxes&quot;:[{&quot;ticks&quot;:{&quot;beginAtZero&quot;:false}}]}}}"></canvas></div>
                        <p>Potential research keywords:</p>
                        <p><em>Freedom, Safety, Pleasure.</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Text Analysis</a></li>
                            <li><a href="#">PDF to Text</a></li>
                            <li><a href="#">Peer Pressure Check</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2020</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <textarea id="test"></textarea>
<style>
.intro_yellow
{
display: inline;
background:rgba(255,255,0,0.2);
}
.intro_red
{
display: inline;
background:rgba(255,0,0,0.2);
}
.intro_red
{
display: inline;
background:rgba(255,0,0,0.2);
}
.intro_green
{
display: inline;
background:rgba(0,255,0,0.2);
}
</style>
</body>
<script>
String.prototype.format = function(){
    var args = arguments;
    return this.replace(/\{(\d+)\}/gm, function(ms, p1){return typeof(args[p1]) == 'undefined' ? ms : args[p1]});
}

var str="{0},{1},hehe".format("hello","world"); //hello,world,hehe
console.log(str)
</script>


<script>
        var g_nearby_array01=new Array();
        var g_nearby_array02=new Array();
        var g_keyword01;
        var g_keyword02;

        function    format_span(strCenten){
            var flag01=0;
            var flag02=0;
            var retStr="";
            for(var i=0;i<g_nearby_array01.length;i++){
                if(strCenten.indexOf(g_nearby_array01[i])!=-1){
                    flag01=1;
                    break;
                }
            }

            for(var i=0;i<g_nearby_array02.length;i++){
                if(strCenten.indexOf(g_nearby_array02[i])!=-1){
                    flag02=1;
                    break;
                }
            }
            if(flag01==1&&flag02==1){               //增加底色
                retStr="<div  class=\"intro_yellow\">{0}</div>".format(strCenten);
            }
            else{
                retStr=strCenten;
            }

            var strArr4= new Array();
            strArr4 = retStr.split(g_keyword01);
            var retSTR="";
            for(var i=0;i<strArr4.length-1;i++){
                retSTR=strArr4[i];
                retSTR=retSTR+"<div  class=\"intro_red\">{0}</div>".format(g_keyword01);
            }
            retSTR=retSTR+strArr4[strArr4.length-1];


            return retSTR;

        }
        //获取div下所有内容
        function get_div_context(){
            var retStr=""
            $("#context_area div").each(function(){         //所有的span标签
                retStr=retStr+$(this).text()
            });
            retStr=retStr+context_area.innerHTML;
            retStr="成功，是一个动宾结构的汉语名词。同“胜利”。意思是指达到或实现某种价值尺度的事情或事件，从而获得预期结果叫做成功。出自《书·禹贡》：“禹锡玄圭，告厥成功。” 成功是指人或动物通过有意识努力，达到了预期目标。成功在动物世界里没有对错，一切都是为了竞争资源。而在人类社会成功还有另外一个衡量维度，即那些通过合法的且符合道德约束的行为到达预期目标的人被称为”成功的人“。人生会经历无数的成功和失败，希望我们失败时不要气馁，因为只要我们找到正确的方式且付出行动去实现，我们一定会到达预期目标，一定会成功！";
            return retStr;
        }

        function save_context(){
            var div_context=get_div_context();
			var params = {
			"title":document.getElementById('title').value,
			"context":div_context,
			};
            $.get("save_context", params,
              function(data){
                alert("Data Loaded: " + data);
                window.location.href="userPanel.html";
            });
        }

        function Check_keywords(){
            g_keyword01=document.getElementById('keyword01').value;
            g_keyword02=document.getElementById('keyword02').value;
            g_keyword01="成功";
            g_keyword02="达到";

			var params = {

			"keyword01":g_keyword01,
			"keyword02":g_keyword02,
			};

            $.get("get_nearby", params,
              function(data){

              var obj =JSON.parse(data);
              g_nearby_array01=obj["Keyword01"];
              g_nearby_array02=obj["Keyword02"];
              console.log(g_nearby_array01)
              console.log(g_nearby_array02)

            var div_context=get_div_context();
            var centensArray= new Array();
            var strArr3 = div_context.split(".");
            for(var i=0;i<strArr3.length;i++){
                var strArr4= new Array();
                if(i<strArr3.length-1)
                    strArr4 = (strArr3[i]+".").split("。");
                else
                    strArr4 = (strArr3[i]).split("。");
                for(var j=0;j<strArr4.length;j++){
                    if(j<strArr4.length-1)
                        centensArray.push(strArr4[j]+"。");
                     else
                        centensArray.push(strArr4[j]);
                }
            }
            //var spanStr="<span style=\"color:blue\">abc</span> ";
            var spanStr="";

            for(var i=0;i<centensArray.length;i++){
               spanStr=spanStr+format_span(centensArray[i]);
            }
            console.log(spanStr);

            context_area.innerHTML=spanStr;
<!--                alert("Data Loaded: " + data);-->
<!--                window.location.href="userPanel.html";-->
            });
        }

</script>

<script language="javascript">
var str="<font><b>abcde</b></font>";
txt=document.createElement('DIV');
txt.innerHTML=str;
test.appendChild(txt);
window.onbeforeunload=function oLoad(){document.location.reload()}
</script>
</html>