<html>
<head>
<title>ff</title>

</head>
<body>

    <div id="textarea" style="border: 1px solid #CBCBCB;height: 200px;width: 400px" contenteditable="true">
        <span> <span contenteditable="false">投入：</span></span>
        <span> </span><span style="color: red">500</span></span>
    </div>
    <input type="button" value="提交" onClick="ta()">
 <div>
    <span>123</span><span>456</span><span>789</span>
  </div>
  <div>
    <span id="test">123456</span>
  </div>

<!-- //d1是外层div，带滚动条-->
  <div id='d1' style='height:200px;width:100px;overflow:auto;background:blue;'>
     <div style='height:500px;width:500px;background:yellow'>2222</div>
  </div>

</body>
<script>
function ta(){
    var str="<span style=\"color:blue\">abc</span> ";
    textarea.innerHTML=str;
}
document.getElementById('d1').scrollTop=100;//通过scrollTop设置滚动到100位置
  document.getElementById('d1').scrollLeft=200;//通过scrollTop设置滚动到200位置
</script>
</html>
