<html>
<head>
<title>ff</title>

</head>
<body>

    <div id="textarea" style="border: 1px solid #CBCBCB;height: 200px;width: 400px" contenteditable="true">
        <span> <span contenteditable="false">投入：</span></span>
        <span> </span><span style="color: red">500</span></span>
    </div>
    <input type="button" value="提交" onClick="ta()">
 <div>
    <span>123</span><span>456</span><span>789</span>
  </div>
  <div>
    <span id="test">123456</span>
  </div>

</body>
<script>
function ta(){
    var str="<span style=\"color:blue\">abc</span> ";
    textarea.innerHTML=str;
}
</script>
</html>
